

<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="mb-2 row m-2">
                <div class="col-11 text-center ui-widget p-1">
                    <input type="text" id="tags" placeholder="Search Recipe" name="recipe" class="form-control" />
                </div>
                <div class="col-1 p-1">
                    <button type="submit" class="btn btn-success p-1">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(function () {
        var availableTags = [
            "Mushrooms",
            "Pumpkin",
            "Apple",
            "Banana",
            "Blackberry",
            "Blueberry",
            "Coconut",
            "Grapes",
            "KiwiFruit",
            "Mango",
            "Orange",
            "Papaya",
            "Pineapple",
            "Strawberry",
            "Watermelon",
            "Salad",
            "Pizza",
            "Pasta",
            "Popcorn",
            "Hamburger",
            "Pie",
            "Cake",
            "Sausage",
            "Kebab",
            "Poutine",
            "Seafood",
            "Chips",
            "Fries",
            "Masala",
            "Chicken",
            "Chocolate",
            "Sushi",
            "Ice cream"
        ];
        $("#tags").autocomplete({
            source: availableTags,
            minLength:2
        });
    });
</script> 
@*
<script>
    $(() => {
        var availableTags = [
            "Mushrooms",
            "Pumpkin",
            "Apple",
            "Banana",
            "Blackberry",
            "Blueberry",
            "Coconut",
            "Grapes",
            "KiwiFruit",
            "Mango",
            "Orange",
            "Papaya",
            "Pineapple",
            "Strawberry",
            "Watermelon",
            "Salad",
            "Pizza",
            "Pasta",
            "Popcorn",
            "Hamburger",
            "Pie",
            "Cake",
            "Sausage",
            "Kebeb",
            "Poutine",
            "Seafood",
            "Chips",
            "Fries",
            "Masala",
            "Chicken"
            "Chocolate",
            "Sushi",
            "Ice cream
        ];
        $("#tags").autocomplete({
            source: availableTags,
            minLength:2
        });
    });
</script>*@